.discover {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.discover .div {
  background-color: #ffffff;
  height: 2344px;
  position: relative;
  width: 1440px;
}

.discover .navbar {
  background-color: #ffffff;
  height: 74px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.discover .image {
  height: 74px;
  left: 1331px;
  position: absolute;
  top: 0;
  width: 109px;
}

.discover .text-wrapper {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 464px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.discover .text-wrapper-2 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 858px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.discover .text-wrapper-3 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1022px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.discover .text-wrapper-4 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 289px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.discover .img {
  height: 74px;
  left: 597px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 245px;
}

.discover .overlap {
  background-color: #000000;
  height: 74px;
  left: 0;
  position: absolute;
  top: 2270px;
  width: 1440px;
}

.discover .text-wrapper-5 {
  color: #ffffff;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.discover .text-wrapper-6 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 45px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 845px;
  white-space: nowrap;
}

.discover .image-2 {
  height: 472px;
  left: 0;
  position: absolute;
  top: 74px;
  width: 1440px;
}

.discover .image-3 {
  height: 109px;
  left: 30px;
  object-fit: cover;
  position: absolute;
  top: 559px;
  width: 1379px;
}

.discover .image-4 {
  height: 109px;
  left: 30px;
  object-fit: cover;
  position: absolute;
  top: 668px;
  width: 1379px;
}

.discover .text-wrapper-7 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1452px;
  white-space: nowrap;
}

.discover .overlap-group {
  height: 515px;
  left: 45px;
  position: absolute;
  top: 1492px;
  width: 1382px;
}

.discover .image-5 {
  height: 515px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1351px;
}

.discover .right-arrow {
  background-color: #ffffff;
  border-radius: 31.5px/30.5px;
  box-shadow: 0px 5px 5px #00000080;
  height: 61px;
  left: 1319px;
  position: absolute;
  top: 137px;
  width: 63px;
}

.discover .arrow {
  height: 22px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 27px;
}

.discover .text-wrapper-8 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 59px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1314px;
  width: 285px;
}

.discover .text-wrapper-9 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 59px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1350px;
  width: 285px;
}

.discover .image-6 {
  height: 359px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 915px;
  width: 285px;
}

.discover .text-wrapper-10 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 411px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1314px;
  width: 285px;
}

.discover .text-wrapper-11 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 411px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1350px;
  width: 285px;
}

.discover .image-7 {
  height: 359px;
  left: 411px;
  object-fit: cover;
  position: absolute;
  top: 915px;
  width: 285px;
}

.discover .text-wrapper-12 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 762px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1314px;
  width: 285px;
}

.discover .text-wrapper-13 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 762px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1350px;
  width: 285px;
}

.discover .image-8 {
  height: 359px;
  left: 762px;
  object-fit: cover;
  position: absolute;
  top: 915px;
  width: 285px;
}

.discover .text-wrapper-14 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 1114px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1314px;
  width: 285px;
}

.discover .text-wrapper-15 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 1114px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1350px;
  width: 285px;
}

.discover .overlap-group-2 {
  height: 359px;
  left: 1114px;
  position: absolute;
  top: 915px;
  width: 316px;
}

.discover .image-9 {
  height: 359px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 285px;
}

.discover .arrow-wrapper {
  background-color: #ffffff;
  border-radius: 31.5px/30.5px;
  box-shadow: 0px 5px 5px #00000080;
  height: 61px;
  left: 253px;
  position: absolute;
  top: 149px;
  width: 63px;
}
