/* OTPVerification.css */
.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to top, #69b1ff, #002c8c);
  color: #fff;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.otp-form {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px; /* Add padding for spacing */
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Adjust maximum width to fit content */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.otp-form-h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 20px;
  background: linear-gradient(#69b1ff, #002c8c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
}

.otp-item {
  width: 100%;
  margin-bottom: 15px;
}

.otp-input-box {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
}

.otp-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.otp-button-container button {
  flex: 1; /* Make the buttons occupy equal space */
  font-size: 16px;
  border-radius: 5px;
  margin-right: 8px;
}

.otp-button-container button:last-child {
  margin-right: 0; /* Remove spacing for the last button */
}

.otp-button-container button[type="default"] {
  background: #ccc;
}

.otp-button-container button[type="primary"] {
  background: #1890ff;
  color: #fff;
}

.otp-button-container button[type="primary"]:hover {
  background: #0040c8;
}
