.product {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.product .div {
  background-color: #ffffff;
  height: 2741px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.product .div-2 {
  height: 74px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1448px;
}

.product .navbar {
  background-color: #ffffff;
  height: 74px;
  position: relative;
  width: 1440px;
}

.product .text-wrapper {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 464px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 27px;
  white-space: nowrap;
}

.product .text-wrapper-2 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 858px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 27px;
  white-space: nowrap;
}

.product .text-wrapper-3 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1022px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 27px;
  white-space: nowrap;
}

.product .text-wrapper-4 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 289px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 27px;
  white-space: nowrap;
}

.product .image {
  height: 74px;
  left: 1331px;
  position: absolute;
  top: 0;
  width: 109px;
}

.product .img {
  height: 74px;
  left: 597px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 245px;
}

.product .group {
  height: 74px;
  left: 0;
  position: absolute;
  top: 2667px;
  width: 1442px;
}

.product .overlap {
  background-color: #000000;
  height: 74px;
  position: relative;
  width: 1440px;
}

.product .text-wrapper-5 {
  color: #ffffff;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 27px;
  white-space: nowrap;
}

.product .overlap-group {
  height: 1385px;
  left: 97px;
  position: absolute;
  top: 74px;
  width: 1481px;
}

.product .overlap-2 {
  height: 1385px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1481px;
}

.product .rectangle {
  background-color: #d9d9d9;
  height: 1226px;
  left: 761px;
  position: absolute;
  top: 159px;
  width: 720px;
}

.product .pngegg {
  height: 1138px;
  left: 392px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 951px;
}

.product .group-2 {
  height: 24px;
  left: 787px;
  position: absolute;
  top: 1333px;
  width: 537px;
}

.product .arrow {
  height: 29px;
  left: -2px;
  position: absolute;
  top: -3px;
  width: 80px;
}

.product .arrow-2 {
  height: 29px;
  left: 464px;
  position: absolute;
  top: -3px;
  width: 75px;
}

.product .ellipse {
  background-color: #000000;
  border-radius: 12px;
  height: 24px;
  left: 219px;
  position: absolute;
  top: 0;
  width: 24px;
}

.product .ellipse-2 {
  background-color: #00000066;
  border-radius: 12px;
  height: 24px;
  left: 259px;
  position: absolute;
  top: 0;
  width: 24px;
}

.product .ellipse-3 {
  background-color: #00000066;
  border-radius: 12px;
  height: 24px;
  left: 299px;
  position: absolute;
  top: 0;
  width: 24px;
}

.product .text-wrapper-6 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 96px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 272px;
  white-space: nowrap;
  width: 679px;
}

.product .text-wrapper-7 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 428px;
  width: 554px;
}

.product .p {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 510px;
  width: 603px;
}

.product .overlap-wrapper {
  height: 110px;
  left: 12px;
  position: absolute;
  top: 871px;
  width: 534px;
}

.product .overlap-3 {
  height: 110px;
  position: relative;
  width: 530px;
}

.product .text-wrapper-8 {
  color: #ababab;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 29px;
  width: 218px;
}

.product .text-wrapper-9 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 80px;
  font-weight: 400;
  left: 153px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 377px;
}

.product .overlap-group-wrapper {
  height: 109px;
  left: 53px;
  position: absolute;
  top: 1128px;
  width: 491px;
}

.product .div-wrapper {
  background-color: #d9d9d9;
  border-radius: 15px;
  height: 109px;
  position: relative;
  width: 489px;
}

.product .text-wrapper-10 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 48px;
  font-weight: 400;
  left: 81px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 34px;
  width: 317px;
}

.product .rectangle-2 {
  background-color: #bfbfbf;
  border-radius: 10px;
  height: 168px;
  left: 1070px;
  position: absolute;
  top: 0;
  width: 245px;
}

.product .text-wrapper-11 {
  color: #ffffff;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1081px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  white-space: nowrap;
}

.product .text-wrapper-12 {
  color: #ffffff;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1081px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 46px;
  white-space: nowrap;
}

.product .text-wrapper-13 {
  color: #ffffff;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1081px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 73px;
  white-space: nowrap;
}

.product .text-wrapper-14 {
  color: #ffffff;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1081px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 100px;
  white-space: nowrap;
}

.product .text-wrapper-15 {
  color: #ffffff;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1081px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 136px;
  white-space: nowrap;
}

.product .line {
  height: 1px;
  left: 1080px;
  object-fit: cover;
  position: absolute;
  top: 36px;
  width: 226px;
}

.product .line-2 {
  height: 1px;
  left: 1080px;
  object-fit: cover;
  position: absolute;
  top: 129px;
  width: 226px;
}

.product .image-2 {
  height: 44px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 87px;
  width: 419px;
}

.product .overlap-4 {
  height: 55px;
  left: 119px;
  position: absolute;
  top: 1614px;
  width: 1201px;
}

.product .overlap-5 {
  height: 55px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1201px;
}

.product .text-wrapper-16 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 250px;
}

.product .line-3 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 1201px;
}

.product .line-4 {
  height: 7px;
  left: 0;
  position: absolute;
  top: 48px;
  width: 257px;
}

.product .text-wrapper-17 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 304px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 250px;
}

.product .group-3 {
  height: 445px;
  left: 191px;
  position: absolute;
  top: 1765px;
  width: 1061px;
}

.product .line-5 {
  height: 1px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 77px;
  width: 1054px;
}

.product .text-wrapper-18 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 217px;
}

.product .text-wrapper-19 {
  color: #535353;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 311px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 0;
  width: 217px;
}

.product .group-4 {
  height: 78px;
  left: 0;
  position: absolute;
  top: 120px;
  width: 1058px;
}

.product .line-6 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 77px;
  width: 1054px;
}

.product .text-wrapper-20 {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 217px;
}

.product .text-wrapper-21 {
  color: #535353;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 308px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 0;
  width: 217px;
}

.product .group-5 {
  height: 78px;
  left: 3px;
  position: absolute;
  top: 234px;
  width: 1058px;
}

.product .group-6 {
  height: 78px;
  left: 0;
  position: absolute;
  top: 367px;
  width: 1058px;
}
