#img {
  border: none !important;
  outline: none !important;
}

.login {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login .overlap-group-wrapper {
  background-color: #ffffff;
  height: 1179px;
  width: 1440px;
}

.login .overlap-group {
  height: 1037px;
  left: 116px;
  position: relative;
  top: 71px;
  width: 1211px;
}

.login .whiteBox {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 20px;
  box-shadow: 0px 10px 5px #00000080;
  height: 939px;
  left: 0;
  position: absolute;
  top: 49px;
  width: 1211px;
}

.login .greyBox {
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: #000000;
  border-radius: 20px;
  height: 939px;
  left: 0;
  position: absolute;
  top: 49px;
  width: 603px;
}

.login .watch {
  position: absolute;
  height: 1037px;
  width: 627px;
  background: url("../assets/audemars.png");
}

.login .logo {
  position: absolute;
  height: 109px;
  width: 361px;
  left: 731px;
  top: 252px;
  background: url("../assets/logo.png");
}

.login .email {
  position: absolute;
  border: none;
  border-bottom: 1px solid black;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  color: #00000099;
  line-height: normal;
  outline: none;
  width: 359px;
  left: 729px;
  top: 445px;
  white-space: nowrap;
}

.login .password {
  position: absolute;
  border: none;
  border-bottom: 1px solid black;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  color: #00000099;
  line-height: normal;
  outline: none;
  width: 359px;
  left: 729px;
  top: 515px;
  white-space: nowrap;
}

.login .forgotPass {
  color: black;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 957px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 561px;
  white-space: nowrap;
}

.login .loginBtn {
  position: absolute;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: #d9d9d9;
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  height: 64px;
  width: 379px;
  top: 621px;
  left: 722px;
}

.login .registerDiv {
  color: #676767;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 722px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 696px;
  white-space: nowrap;
}

.login .register {
  text-decoration: underline;
}

.login .body {
  color: #676767;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

.login .close {
  color: #000000;
  font-family: "Aldrich-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 1159px;
  letter-spacing: 0;
  line-height: 55px;
  position: absolute;
  top: 60px;
  white-space: nowrap;
  width: 27px;
}
